:root {
  --text-color:#212121;
  --text-accent:#2196F3;
  --text-secondColor:#757575;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  font-family: roboto, sans-serif;
  color: var(--text-color);
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.page-header {
  padding-top: 16px;
  padding-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .page-header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

@media screen and (min-width: 768px) {
  .page-header__decor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.page-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-header__mobile {
  display: none;
}
@media screen and (min-width: 768px) {
  .page-header__mobile {
    display: block;
  }
}

.page-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
@media screen and (min-width: 768px) {
  .page-header__list {
    margin-left: 88px;
  }
}
@media screen and (min-width: 768px) {
  .page-header__list {
    margin-left: 92px;
  }
}

.page-header__item:not(last-child) {
  margin-right: 50px;
}

.page-header__link {
  color: #212121;
  padding-bottom: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color;
  transition-property: color;
}

.page-header__link:hover,
.page-header__link:focus {
  color: var(--text-accent);
}

.page-header__right {
  display: none;
}
@media screen and (min-width: 768px) {
  .page-header__right {
    display: block;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.page-header__connection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
}
.page-header__connection:hover, .page-header__connection:focus {
  color: #2196F3;
  fill: #2196F3;
}
@media screen and (min-width: 768px) {
  .page-header__connection {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__connection {
    margin-bottom: 0px;
    margin-right: 30px;
  }
}

.page-header__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
}

.page-header__tel:hover,
.page-header__tel:focus {
  color: var(--text-accent);
  fill: var(--text-accent);
}

.header__icon {
  fill: #757575;
}
@media screen and (min-width: 768px) {
  .header__icon {
    margin-right: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .header__icon {
    margin-right: 10px;
  }
}

.header__connection {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
}
@media screen and (min-width: 768px) {
  .header__connection {
    font-size: 12px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1200px) {
  .header__connection {
    font-size: 14px;
    line-height: 1.14;
  }
}

.logo {
  font-weight: 700;
  font-family: "Raleway";
  font-style: normal;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: black;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__item {
  color: var(--text-accent);
}

.hero {
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../../images/heroImg.jpg);
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/heroImg.jpg);
  background-repeat: no-repeat;
  max-width: 1600px;
  display: block;
}
.hero__decor {
  padding-bottom: 118px;
}
@media screen and (min-width: 1200px) {
  .hero__decor {
    padding-bottom: 200px;
  }
}

.hero__tittle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-top: 118px;
}
@media screen and (min-width: 1200px) {
  .hero__tittle {
    font-size: 44px;
    line-height: 1.36;
    padding-top: 200px;
  }
}

.hero__button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
@media screen and (min-width: 480px) {
  .hero__button {
    padding: 10px 24px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__button {
    padding: 10px 32px;
  }
}

@media screen and (min-width: 480px) {
  .benefits {
    padding-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.benefits__list {
  display: block;
}
@media screen and (min-width: 768px) {
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 30px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.benefits__item:not(last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .benefits__item {
    -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    margin-bottom: 0;
  }
  .benefits__item:not(last-child) {
    margin-right: 30px;
  }
}
.benefits__thumb {
  width: 100%;
  background-color: #F5F4FA;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.benefits__tittle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 30px;
  color: #212121;
}

.benefits__text {
  margin-top: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.activity {
  display: none;
}
@media screen and (min-width: 1200px) {
  .activity {
    padding-bottom: 94px;
    display: block;
  }
}

.activity__tittle {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
}

.activity__list {
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.activity__item {
  position: relative;
}
.activity__item:not(last-child) {
  margin-right: 30px;
}

.activity__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
}

.team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__tittle {
  margin-bottom: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .team__tittle {
    font-size: 36px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.team__item {
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item:not(last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
  }
}

.team__photo {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .team__photo {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__photo {
    width: 270px;
  }
}

.team__content {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .team__content {
    padding: 30px 32px;
  }
}

.team__name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.team__player {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.team__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__link {
  fill: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: background-color, fill;
  transition-property: background-color, fill;
}
.team__link:not(last-child) {
  margin-right: 10px;
}
.team__link:hover, .team__link:focus {
  background-color: var(--text-accent);
  fill: #fff;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__tittle {
  margin-bottom: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (min-width: 1200px) {
  .clients__tittle {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 50px;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: -30px;
}
@media screen and (max-width: 768px) {
  .clients__list .clients__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (max-width: 1200px) {
  .clients__list .clients__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}
.clients__link {
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: var(--text-secondColor);
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: border-color;
  transition-property: border-color;
  width: 210px;
}
.clients__link:not(last-child) {
  margin-right: 30px;
  margin-bottom: 30px;
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--text-accent);
  fill: var(--text-accent);
}
@media screen and (min-width: 480px) {
  .clients__link {
    width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
    margin-bottom: 0;
  }
}

.foot {
  background-color: #2F303A;
  position: relative;
}
@media screen and (min-width: 480px) {
  .foot {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .foot__centr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .foot__two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .foot__left {
    margin-left: 60px;
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .foot__left {
    margin-left: 0px;
    margin-top: 0px;
  }
}

@media screen and (min-width: 768px) {
  .foot__right {
    margin-left: 165px;
    margin-top: 65px;
  }
}
@media screen and (min-width: 1200px) {
  .foot__right {
    margin-left: 70px;
    margin-top: 12px;
  }
}

.foot__logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #fff;
}
@media screen and (min-width: 480px) {
  .foot__logo {
    margin-bottom: 20px;
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .foot__logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__item {
  color: #2196F3;
}

.foot__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
@media screen and (min-width: 480px) {
  .foot__text {
    margin-bottom: 8px;
  }
}
.foot__connection {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 480px) {
  .foot__connection {
    margin-bottom: 8px;
  }
}
.foot__tel {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 480px) {
  .foot__tel {
    margin-bottom: 60px;
  }
}
.foot__tittle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.foot__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.foot__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #fff;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
}
.foot__link:hover, .foot__link:focus {
  background-color: #2196F3;
}
.foot__link:not(last-child) {
  margin-right: 10px;
}

.form__container {
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .form__container {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .form__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-top: 12px;
    margin-left: 93px;
  }
}

.foot__form-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .foot__form-text {
    text-align: inherit;
    margin-bottom: 20px;
  }
}

.foot__input {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  height: 50px;
  padding-left: 15px;
}
@media screen and (min-width: 1200px) {
  .foot__input {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 12px;
    width: 358px;
  }
}

.foot__telegramm {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  border: none;
  background-color: var(--text-accent);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #FFFFFF;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding-left: 31px;
}

.foot__icon-tel {
  position: absolute;
  right: 28px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
}

.backdrop__modal {
  position: absolute;
  top: 93px;
  z-index: 3;
  width: 450px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  left: 50%;
  -webkit-transform: translate(-50%) rotate(0deg);
          transform: translate(-50%) rotate(0deg);
  padding: 40px;
}
@media screen and (min-width: 1200px) {
  .backdrop__modal {
    width: 528px;
  }
}

.backdrop__icon {
  position: absolute;
  right: 8px;
  top: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 6px 6px 3px 6px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: fill;
  transition-property: fill;
}
.backdrop__icon:hover, .backdrop__icon:focus {
  fill: var(--text-accent);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop__tittle {
  line-height: 1.5;
  margin-bottom: 12px;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .backdrop__tittle {
    line-height: 0.86;
  }
}

.modal__form {
  margin-bottom: 20px;
}

.modal__label {
  margin-bottom: 10px;
}
.modal__label:hover, .modal__label:focus {
  border-color: var(--text-accent);
  fill: var(--text-accent);
}

.modal__input-name {
  margin-top: 10px;
  margin-bottom: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--text-secondColor);
}

.modal__input {
  position: relative;
  width: 100%;
  padding: 11px 12px 11px 45px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: border-color, color;
  transition-property: border-color, color;
  cursor: pointer;
}
.modal__input:hover, .modal__input:focus {
  fill: var(--text-accent);
  border-color: var(--text-accent);
  fill: var(--text-accent);
}

.modal__textarea {
  padding: 12px 16px;
  max-width: 100%;
  min-width: 100%;
  max-height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: border-color;
  transition-property: border-color;
  margin-top: 10px;
  margin-bottom: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal__textarea:hover, .modal__textarea:focus, .modal__textarea:focus-visible {
  border-color: var(--text-accent);
}

.modal__decor {
  position: relative;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: fill, border-color;
  transition-property: fill, border-color;
}
.modal__decor:hover, .modal__decor:focus {
  border-color: var(--text-accent);
  fill: var(--text-accent);
}

.modal__icon {
  position: absolute;
  left: 14px;
  bottom: 14px;
}

.modal__treaty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__treaty-link {
  color: var(--text-accent);
  font-size: 12px;
  line-height: 1.16;
  font-weight: 400;
  -webkit-text-decoration: revert;
          text-decoration: revert;
}
@media screen and (min-width: 1200px) {
  .modal__treaty-link {
    font-size: 14px;
    line-height: 1.71;
    margin-left: 5px;
  }
}

.modal__treaty-text {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-secondColor);
}
@media screen and (max-width: 1199px) {
  .modal__treaty-text {
    font-size: 12px;
    line-height: 1.16;
  }
}

.modal__check {
  opacity: 0;
}

.modal__check-box {
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 5px;
  border: 2px solid #212121;
  background-image: url(../images/check.svg);
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: background-color, border-color;
  transition-property: background-color, border-color;
}
.modal__check-box:hover, .modal__check-box:focus {
  border-color: var(--text-accent);
}
.modal__check:checked + .modal__check-box {
  background-color: var(--text-accent);
  border-color: var(--text-accent);
}

.modal__btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 10px 52px;
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: var(--text-accent);
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.port__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 0;
  margin-bottom: 50px;
  margin-top: 0;
}

.port__button {
  cursor: pointer;
  background-color: #F5F4FA;
  border: none;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  border-radius: 4px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-family: "Roboto";
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
}
.port__button:not(last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}
.port__button:hover, .port__button:focus {
  background-color: var(--text-accent);
  color: #fff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.port__list {
  padding-left: 0;
  padding-bottom: 60px;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .port__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}
@media screen and (min-width: 1200px) {
  .port__list {
    padding-bottom: 94px;
  }
}

.port__item {
  background: #ffffff;
}
@media screen and (min-width: 768px) {
  .port__item {
    margin-left: 30px;
    margin-top: 30px;
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .port__item {
    margin-left: 30px;
    margin-top: 30px;
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}

.port__link {
  background: #FFFFFF;
  display: block;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color;
  transition-property: color;
}
.port__link:hover, .port__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.port__image {
  position: relative;
  overflow: hidden;
}

.port__content {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  background-color: #ffffff;
  border-top: none;
}

.port__projects {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  color: #212121;
}

.port__all {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-secondColor);
}

.port__over {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 63px 24px 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.port__link:hover .port__over {
  opacity: 1;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.mobile {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100vh;
  left: 0;
  background-color: #fff;
  overflow-y: scroll;
  padding: 48px 40px;
  font-weight: 500;
  line-height: 1.8;
  letter-spacing: 0.02em;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  z-index: 1;
}
.mobile.is-open {
  top: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  margin-left: 0;
}
@media screen and (min-width: 768px) {
  .mobile {
    display: none;
  }
}

.mobile-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 2;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: fill;
  transition-property: fill;
  z-index: 2;
}
.mobile-btn:hover, .mobile-btn:focus {
  fill: #2196F3;
}
@media screen and (min-width: 768px) {
  .mobile-btn {
    display: none;
  }
}

.mobile__icon-open {
  display: none;
}

.is-open .mobile__icon-open {
  display: block;
}

.is-open .mobile__icon-close {
  display: none;
}

.current {
  position: relative;
  color: var(--text-accent);
}
@media screen and (min-width: 768px) {
  .current::after {
    position: absolute;
    bottom: 0;
    display: block;
    content: "";
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: var(--text-accent);
  }
}

.mobile__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
  display: block;
  padding-bottom: 28px;
}

.mobile__tel {
  display: block;
  margin-top: 300px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  color: #757575;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color;
  transition-property: color;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mobile__mail {
  display: block;
  margin-top: 33px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  color: #757575;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color;
  transition-property: color;
  letter-spacing: 0.02em;
}
.mobile__mail:hover, .mobile__mail:focus {
  color: #2196F3;
}

.mobile__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
}

.mobile__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196F3;
}
.mobile__item:not(last-child) {
  margin-right: 20px;
}/*# sourceMappingURL=main.css.map */