.activity{
display: none;

   

        @media screen and (min-width: 1200px) {
            padding-bottom: 94px;
            display: block;
    }
}
.activity__tittle{
    
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
    
}
.activity__list {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;

    display: flex;
}

.activity__item {
    position: relative;
    &:not(last-child) {
        margin-right: 30px;
    }
}
.activity__text {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(47,48,58,.8);
    padding-top: 27px;
    padding-bottom: 27px;
    margin: 0;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: .03em;
    text-transform: uppercase;
    color: #fff;
}
