.mobile {
        display: flex;
        position: absolute;
        top: 100%;
        width: 100%;
        height: 100vh;
        left: 0;
        background-color: #fff;
        overflow-y: scroll;
        padding: 48px 40px;
        
        font-weight: 500;
        line-height: 1.8;
        letter-spacing: 0.02em;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
        transform:translateX(-100%) ;
        
        z-index: 1 ;
        &.is-open {
        top: 0;
        transform:translateX(0) ;
        
        margin-left: 0;
        
        }
         
        @media screen and(min-width:768px) {
            display: none;
            
        }
      }

.mobile__flex{
    display: flex;
    flex-direction: column;
    max-height: 100%;
}
.mobile__list{
    margin-bottom: auto;
}
.mobile-btn{
   
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 2;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill;
    z-index: 2;
    &:hover,
    &:focus{
        fill: #2196F3;
    }
    @media screen and(min-width:768px) {
        display: none;
    }
}
.mobile__icon-open{
    display: none;
}
.is-open .mobile__icon-open{
    display: block;
}
.is-open .mobile__icon-close{
    display: none;
}




  
.current{
    position: relative;
    color: var(--text-accent);
    @media screen and(min-width:768px) {
        &::after{
    
            position: absolute;
            bottom: 0;
            display: block;
            content: "";
            height: 4px;
            width: 100%;
            border-radius: 2px;
            background-color: var(--text-accent);
        }
    }
}
  .mobile__link{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 1.17;

letter-spacing: 0.02em;

display: block;
padding-bottom: 28px;


  }
  .mobile__tel{
    display: block;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    color: #757575;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
    letter-spacing: 0.02em;
    color: #2196F3;
   
  }
.mobile__mail{
    display: block;
    margin-top: 33px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    color: #757575;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: color;
    letter-spacing: 0.02em;
    &:hover,
    &:focus{
        color: #2196F3;
    }
}
.mobile__social{
    display: flex;
    margin-top: 64px;

}
.mobile__item{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 1.22;


letter-spacing: 0.02em;

color: #2196F3;
&:not(last-child){
    margin-right: 20px;
}
}
  
